<h2>Home</h2>

{{#if outlookAuth}}
    <div><h3>Accounts:</h3>
        {{#each email}}
            <span>{{this}}</span><br/>
        {{/each}}
    </div>
    <div>
        <button><a href="/mail">Mailbox</a></button>
        <button><a href="/auth/google">Sign In with Google</a></button>
    </div>
{{else if googleAuth}}
    <div><h3>Accounts:</h3>
        {{#each email}}
            <span>{{this}}</span><br/>
        {{/each}}
    </div>
    <div>
        <button><a href="/mail">Mailbox</a></button>
        <button><a href="/outlookLogin">Sign In with Outlook</a></button>
    </div>
{{else if bothAuth}}
    <div><h3>Accounts:</h3>
        {{#each email}}
            <span>{{this}}</span><br/>
        {{/each}}
    </div>
    <div>
        <button><a href="/mail">Mailbox</a></button>
    </div>
{{else}}
    <button><a href="/outlookLogin">Sign In with Outlook</a></button>
    <button><a href="/auth/google">Sign In with Google</a></button>
{{/if}}